/* * {
    border:1px solid white;
} */

body {
    background-image: url("./Image/background\ bw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.wineinfo {
    display: flex;
    
}

.winediv {
    width: 300px;
    height: 400px;
    display: flex;
    text-align: left;
}

.winediv img {
    width: 100px;
    height: 200px;
}

.winediv h5, p {
    margin: 0;
}

.main {
    width: 500px;
    height: 350px;
    align-items: center;
    margin-top: 100px;
    background-color: gray;
    opacity: 0.5;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



























