/* * {
    border: 0.1px solid white;
} */

body {
    background-image: url("./Image/background\ bw.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


h1{
    font-family:fantasy;
    text-align: left;
}

.wineinfo {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center; 
    margin: auto;
    padding: auto;
    
}

.winediv {
    /* border: 1px solid red; */
    width: 180px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    margin: 5px 10px 5px 10px;
    padding-top: 10px;
    border-radius: 10%;
}

.winediv img {
    width: 130px;
    height: 150px;
}

.winediv h5, p {
    margin: 0;
}

.main {
    width: 500px;
    height: 350px;
    align-items: center;
    margin-top: 100px;
    background-color: gray;
    opacity: 0.5;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.create-wine-form{
    display: flex;
    flex-direction: column;
}

























